@import '../abstracts/_variables.scss';

html,
body {
    background: $lightgrey;
}

.forgot-password {
    &__wrapper {
        max-width: 25%;
        margin: 3em auto;
        background: $white;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
        border-radius: 0.5em;
        padding: 2em 3em;
        overflow: hidden;

        &--send-email {
            max-width: 50%!important;
            margin: 3em auto;
            background: $white;
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
            border-radius: 0.5em;
            padding: 2em 3em;
            overflow: hidden;
        }

        @media all and (max-width: 768px) {
            max-width: 70%;
        }
    }

    &__title {
        display: flex;
        width: 200%;

        &--forgot-password {
            width: 50%;
            font-size: 1.8em;
            font-weight: 600;
            text-align: center;
        }
    }

    &__container {
        width: 100%;
        overflow: hidden;
    }
}

 a {
     color: $sunyellow;
 }

 form {
        label {
            display: none;
        }
 }