<header class="header">
    <h2 class="header__title">
        <label for="">
            <span class="las la-bars"></span>
        </label>
        Dashboard
    </h2>

    <div class="header__search--wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Recherchez ici">
    </div>

    <div class="header__user--wrapper">
        <img src="" alt="">
        <div>
            <h4>Jane Doe</h4>
            <small>Admin</small>
        </div>
    </div>
</header>