<div class="sidebar">
    <div class="sidebar__logo">
        <h2>Festinb</h2>
    </div>
    <div class="sidebar__menu">
        <ul>
            <li>
                <a href="{{ path('app_back_index') }}" class="active">
                    <i class="las la-igloo"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_back_festivals') }}">
                    <i class="las la-users"></i>
                    <span>Festivals</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="las la-clipboard-list"></i>
                    <span>Billets</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="lab la-google-wallet"></i>
                    <span>Réservations</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="las la-receipt"></i>
                    <span>Partenaires</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="las la-user-circle"></i>
                    <span>Utilisateurs</span>
                </a>
            </li>
        </ul>
    </div>
</div>