html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

.useful-width
{
  margin: 0 auto;
  max-width: 124rem;
  padding: 0 10rem;

  @media all and (max-width: 768px) {
    padding: 0 2rem;
  }
}

.text-center{
  text-align: center;
}
