// Colors

$white: #fff;

$black: #000000;

//Colors charte graphique
$sunyellow: #FFAF33;
$sunpinklight: #E987AB;
$sunpinkdark: #D24466;
$sunblue: #4A87B4;

// Dashboard colors
$maincolor : #DD2F6E;
$darkblue : #1D2231;
$greydash : #8390A2;


$google-blue: #4285F4FF;
$button-active-blue: #1669F2FF;

$palegrey : #D2CBCB;
$middlegrey: #d3d3d3;
$lightgrey: #f2f2f2;


// Background

$orange-gradient : linear-gradient(90deg, rgba(255,224,0,1) 0%, rgba(255,213,11,1) 33%, rgba(250,185,102,1) 94%);
$blue-gradient : linear-gradient(90deg, rgb(0, 140, 255) 0%, rgb(0, 122, 223) 33%, rgb(0, 114, 207) 94%);
$pink-gradient : linear-gradient(90deg, rgb(234, 0, 255) 0%, rgb(181, 0, 197) 33%, rgb(150, 0, 163) 94%);

