
<div class="footer-distributed">

			<div class="footer-left">

				<img src="{{asset('assets/images/LOGO.png')}}" alt="logo">

				<p class="footer-links">
					<a href="{{ path('app_front_home') }}" class="link-1">Home</a>
					
					<a href="{{ path('app_front_festivals') }}">Festivals</a>
				
					<a href="#">Partenaires</a>
				
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Festi'Nb © 2022</p>
				<a href="{{ asset('assets/documents/mentions légales.pdf') }}" class="footer-company-name" target="_blank">Mentions Légales</a>

			</div>

			<div class="footer-center">

				<div>
					<i class="fa-solid fa-diamond-turn-right"></i>
					<p>245 rue des festivals - 75000 Paris</p>
				</div>

				<div>
					<i class="fa-solid fa-phone"></i>
					<p>+33 6 12 34 56 78</p>
				</div>

				<div>
					<i class="fa-solid fa-envelope"></i>
					<p><a href="mailto:support@festinb.com">support@festinb.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Festi'Nb</span>
					The world of festivals
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa-brands fa-facebook"></i></a>
					<a href="#"><i class="fa-brands fa-twitter"></i></a>
					<a href="#"><i class="fa-brands fa-linkedin"></i></a>
					<a href="#"><i class="fa-brands fa-github-alt"></i></a>

				</div>

			</div>

		</div>