<div class="js-cart-modal cart-modal">
    <div class="cart-modal__header">
        <a class="cart-modal__header--close js-cart-modal-close">&times;</a>
        <h2>Votre panier</h2>
    </div>
    <div class="cart-modal__content">
        <div class="cart-modal__item"></div>
    </div>
    <div class="cart-modal__footer">
        <a href="{{ path('app_front_cart_front') }}" class="btn--cart-modal btn--orange-gradient">Voir mon panier</a>
    </div>
</div>
<div id="cart-overlay" class="js-cart-modal-overlay cart-modal__overlay"></div>