<div class="js-cart-modal cart-modal">
    <div class="cart-modal__header">
        <a class="cart-modal__header--close js-cart-modal-close">&times;</a>
        <h2>Votre panier</h2>
    </div>
    <div class="cart-modal__content">
        <div class="cart-modal__item">
            <img src="" alt="">
            <div class="cart-modal__item--description">
                <div class="cart-modal__item--title"></div>
                <div class="cart-modal__item--quantity"></div>
            </div>
            <div class="cart-modal__item--price"></div>
        </div>
    </div>
    <div class="cart-modal__footer"></div>
</div>
<div id="cart-overlay" class="js-cart-modal-overlay cart-modal__overlay"></div>