 {{ form_start(requestForm) }}
    <div class="form__row">
        {{ form_widget(requestForm.email) }}
    </div>
    <div class="form__row">
        <button class="btn btn--white btn--large btn--orange-gradient">Envoyer </button>
    </div>
{{ form_end(requestForm) }}