html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

.useful-width
{
  margin: 0 auto;
  max-width: 124rem;
  padding: 0 10rem;

  @media all and (max-width: 768px) {
    padding: 0 2rem;
  }

  &__white-background
  {
    background: white;
    padding: 1em;
    border-radius: 12px;
  }
}



.container
{
  margin-left: 345px;
}

main {
  margin-top: 130px;
  padding: 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}