{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <img src="{{asset('assets/images/LOGO.png')}}" alt="logo">

        <h1>The server returned a "{{ status_code }} {{ status_text }}"</h1>

        Oops! An Error Occurred

        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('app_front_home') }}">return to the homepage</a>.
        </p>
    </div>


{% endblock %}