{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <h1>The server returned a "401 Unauthorized"</h1>

    Oops! An Error Occurred

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('app_front_home') }}">return to the homepage</a>.
    </p>

    <img src="{{asset('assets/images/LOGO.png')}}" alt="logo">
{% endblock %}