{% macro searchBar() %}
    <div class="search-bar">
        <h2>Recherche ton festival</h2>
        <div class="search-bar__inputs">
            <input type="text" class="input input__small search-bar__input" placeholder="Ville">
            <input type="text" class="input input__small search-bar__input" placeholder="Date de début">
            <input type="text" class="input input__small search-bar__input" placeholder="Date de fin">
            <input type="submit" value="Go!" class="btn btn__small">
        </div>
    </div>
{% endmacro %}