// Colors

$white: #fff;

$black: #000000;

$sun-yellow: #FFAF33;

$google-blue: #4285F4FF;
$button-active-blue: #1669F2FF;
$middlegrey: #d3d3d3;
$lightgrey: #f2f2f2;


// Background

$orange-gradient : linear-gradient(90deg, rgba(255,224,0,1) 0%, rgba(255,213,11,1) 33%, rgba(250,185,102,1) 94%);
